*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
}

.upperContainer{
    width: 100vw;
    min-height: 50px;
    background-color: #add8e6;
    display: flex;
}

.lowerContainer{
    width: 100vw;
    min-height: 400px;
    background-color: #00008b;
}

.pinkBox{
    max-width: 700px;
    min-height: 350px;
    background-color: #ee82ee;
    margin: 2em auto 2em;
}

.marginWidth{
    border: 1px dashed black;
    margin: 2em auto 2em;
}

.navContainer{
    /* perché in questo caso non accetta la max-width? */
    min-height: 30px;
    min-width: 900px;
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    margin: 1em auto 1em;
}

.link{
    width: calc(100%/5*3);
    height: 100%;
    border: 1px dashed black;
    text-align: center;
    padding-top: 0.2em;
}

a{
    text-decoration: none;
    color: black;
    margin-right: 0.2em;
}

.logo, .login{
    width: calc(100%/5);
    height: 100%;
    border: 1px dashed black;
    padding: 0.2em 0.5em 0 0.5em;
}

.login{
    text-align: right;
}

main{
    display: flex;
    flex-direction: column;
}

.mainContainer{
    width: 100vw;
    min-height: 450px;
    border: 1px solid red;
}

.boxed{
    max-width: 900px;
    min-height: 400px;
}

main .mainContainer:nth-child(even){
    background-color: #d3d3d3;
}

.customMainContainer{
    background-color: #d3d3d3;
    width: 100vw;
    min-height: 500px;
}

.customBoxed{
        max-width: 900px;
        min-height: 450px;
        margin: 2em auto 2em;
    border: 1px solid red;
    }



